<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="~{fragments/fragment-head :: head}"></th:block>
	<title>ENI Connexion</title>
</head>
<body>
	<header th:fragment="header">
		<h1 id="nav-title">
			<a th:href="@{/}" id="return-index"><img src="/images/logo-encheres.png" alt="logo eni enchères" id="logo-eni-encheres">- Enchères</a>
		</h1>
		<button id="darkmode">Dark</button>
	</header>
	<h2>Connexion</h2>

	<form  th:action="@{/login}" method="post">
		<label for="pseudo">Pseudo :</label>
		<input type="text" id="pseudo" name="username" placeholder="Votre identifiant" minlength="3" required/>
		
		<label for="motPasse">Mot de passe :</label>
		<input type="password" id="motPasse" name="password" required />
		
		<div class="souvenir">
			<label for="souvenir">Se souvenir de moi</label>
			<input type="checkbox" name="souvenir" id="souvenir">
		</div>
		
		<button type="submit">Connexion</button>
	</form>

	<div th:if="${param.error}">
		<p style="color:red;">Identifiants invalides. Veuillez réessayer.</p>
	</div>

	<form th:action="@{/inscription}" method="get">
		<button type="submit" class="alt-button">Création de compte</button>
	</form>
</body>
</html>



